* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: auto 3fr;
  grid-template-rows: auto 1fr;
  background-color: #e2e8f0;
  row-gap: 30px;
}

aside {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #1992d4;
  color: #ffffff;
  padding: 20px;
}

header {
  background-color: #ffffff;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: 1fr 1fr;
  padding: 0 30px 5px;
  box-shadow: 0 4px 4px 0px #bebebeb0;
}

main {
  padding: 0 20px 30px;
  display: grid;
  grid-template-columns: 4fr minmax(200px, 1fr);
  grid-template-rows: 1fr 1fr;
  gap: 30px;
}

section > div {
  box-shadow: 4px 4px 4px 0px #bebebeb0;
}

h2,
h3,
.announcement-title {
  margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 15px;
}

a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.logo svg,
li > svg {
  margin-right: 10px;
}

aside a {
  display: flex;
  align-items: center;
  gap: 15px;
}

aside p {
  margin: 0;
}

header svg,
main a > svg {
  color: #000000;
  height: 20px;
  width: 20px;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
}

.logo .iconify {
  width: 40px;
  height: 40px;
}

nav:last-of-type {
  margin-top: 50px;
}

.search {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  width: min(400px, 100%);
}

input[type="search"] {
  appearance: none;
  background-color: #e2e8f0;
  border: none;
  border-radius: 15px;
  padding: 4px 15px;
  margin-left: 7px;
  width: min(400px, 100%);
}

input[type="search"]:focus {
  border: 1px solid #1992d4;
  outline: none;
}

.profile-right {
  grid-area: 1 / 2 / 2 / 3;
  gap: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
}

.profile-right img {
  width: 40px;
  border-radius: 50%;
}

.profile-left {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  align-items: center;
}

.profile-left > p {
  font-size: 1.5rem;
  margin: 10px 0;
}

.profile-left img {
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-left span {
  font-size: 0.75rem;
  line-height: 2;
}

header p {
  font-weight: bold;
}

.buttons {
  grid-area: 2 / 2 / 3 / 3;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  gap: 15px;
}

.buttons > button {
  background-color: #1992d4;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 25px;
}

.buttons > button:hover {
  background-color: #022f41;
  cursor: pointer;
}

main h2 {
  font-size: 1.17rem;
  margin-bottom: -20px;
}

main h3 {
  font-size: 1.17rem;
  margin-bottom: -10px;
}

section > div {
  background-color: #ffffff;
  border-radius: 7px;
  padding: 30px 30px;
}

.projects {
  grid-area: 1 / 1 / -1 / 2;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-template-rows: min-content;
  gap: 30px;
}

.projects > h2 {
  grid-column: 1 / -1;
}

.projects > div {
  display: grid;
  grid-template-rows: min-content;
  background: linear-gradient(to right, #f0b429 10px, #ffffff 10px, #ffffff);
  transition: all 0.3s ease-in-out;
}

.projects > div:hover {
  transform: scale(1.03);
}

main p {
  color: #636363;
}

.project-icons {
  display: flex;
  justify-content: flex-end;
  align-self: flex-end;
}

.project-icons > a {
  margin-right: 13px;
}

.announcements,
.trending {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: min-content auto;
  gap: 30px;
}

.announcements h4 {
  margin-bottom: -10px;
}

.announcements p {
  font-size: 0.75rem;
}

.h-line {
  background-color: #e2e8f0;
  height: 2px;
}

.trending div div {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.trending img {
  width: 40px;
  border-radius: 50%;
  margin-right: 10px;
}

.trending span {
  color: #000000;
}