* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

body {
  height: 100vh;
  display: grid;
  grid-template-columns: minmax(200px, 1fr) 3fr;
  grid-template-rows: auto 1fr;
}

aside {
  grid-area: 1 / 1 / 3 / 2;
  background-color: #1992d4;
  color: #ffffff;
  padding: 20px;
}

header {
  background-color: #ffffff;
  grid-area: 1 / 2 / 2 / 3;
  display: grid;
  grid-template-columns: auto max-content;
  grid-template-rows: 1fr 1fr;
  padding: 0 30px 5px;
}

main {
  background-color: #e2e8f0;
}

h2, h3, h4 {
    margin: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  display: grid;
  gap: 15px;
}

a {
  color: #ffffff;
  font-weight: bold;
  text-decoration: none;
}

.logo svg,
li > svg {
  margin-right: 10px;
}

.search svg,
a > svg {
  color: #000000;
  height: 20px;
  width: 20px;
}

a:hover {
  text-decoration: underline;
}

.logo {
  display: flex;
  align-items: center;
}

.logo .iconify {
  width: 40px;
  height: 40px;
}

nav:last-of-type {
  margin-top: 50px;
}

.search {
  grid-area: 1 / 1 / 2 / 2;
  display: flex;
  align-items: center;
  width: min(400px, 100%);
}

input[type='search'] {
  appearance: none;
  background-color: #e2e8f0;
  border: none;
  border-radius: 15px;
  padding: 4px 15px;
  margin-left: 7px;
  width: min(400px, 100%);
}

input[type='search']:focus {
    border: 1px solid #1992d4;
    outline: none;
}

.profile-right {
  grid-area: 1 / 2 / 2 / 3;
  /* justify-self: end;
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  align-self: center; */
  gap: 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  /* align-content: flex-start;
  flex-wrap: wrap; */
}

.profile-right img {
  width: 40px;
  border-radius: 50%;
}

.profile-left {
  grid-area: 2 / 1 / 3 / 2;
  display: flex;
  align-items: center;
}

.profile-left img {
  width: 60px;
  border-radius: 50%;
  margin-right: 10px;
}

.profile-left span {
  font-size: 0.75rem;
  line-height: 2;
}

header p {
  font-weight: bold;
}

.buttons {
  grid-area: 2 / 2 / 3 / 3;
  display: flex;
  align-items: center;
  gap: 15px;
}

.buttons > button {
  background-color: #1992d4;
  border: none;
  border-radius: 20px;
  color: #ffffff;
  font-weight: bold;
  padding: 8px 25px;
}

.buttons > button:hover {
  background-color: #022f41;
  cursor: pointer;
}

main {
    padding: 20px;
    display: grid;
    grid-template-columns: 4fr minmax(200px, 1fr);
    grid-template-rows: 1fr 1fr;
    column-gap: 20px;
}

main h2, main h3 {
    margin-bottom: -10px;
}

section > div {
    background-color: #ffffff;
    border-radius: 7px;
    padding: 40px 30px;
}

.projects {
    grid-area: 1 / 1 / -1 / 2;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: min-content auto;
    gap: 20px;
}

.projects > h2 {
    grid-column: 1 / 3;
}

.projects > div {
    background: linear-gradient(
    to right, 
    #fee5eb 10px,
    #ffffff 10px,
    #ffffff);
}

.projects p {
    color: #636363;
}

.project-icons {
    display: flex;
    justify-content: flex-end;
}

.project-icons > a {
    margin-right: 10px;
}